<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragments/navBar :: navbar" th:remove="tag"></div>

    <title>Post Show</title>
</head>
<body>
<h1 th:text="'Post Show th'">Post Show</h1>
<h1>Result</h1>
<!--/*@thymesVar id="person" type="com.debarz.recipeblogapp.domain.Post"*/-->
<p th:text="'id: ' + ${post.id}"></p>
<p th:text="'content: ' + ${post.title}"></p>
<p th:text="'content: ' + ${post.content}"></p>
<p th:text="'content: ' + ${post.getCreationDate()}"></p>
<a href="/post/new">Submit another message</a>
</body>
</html>