<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/bootstrapLayout :: bootstrap" th:remove="tag"></div>
    <meta charset="UTF-8"/>
    <title>New Person</title>

</head>
<body>
<section id="cover" class="min-vh-100">
    <div id="cover-caption">
        <div class="container">
            <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">

                    <div id="sign">
                        <!--/*@thymesVar id="person" type="com.debarz.recipeblogapp.domain.User"*/-->
                        <form action="#" th:action="@{/user/}" th:object="${user}" method="post">
                            <h2>Registration</h2>
                            <input type="hidden" th:field="*{id}"/>
                            <div class="form-group">
                                <input th:field="*{username}" type="text" class="form-control" placeholder="Username"
                                       required>
                            </div>
                            <div class="form-group">
                                <input th:field="*{lastName}" type="text" class="form-control" placeholder="Lastname"
                                       required>
                            </div>

                            <div class="form-group">
                                <input type="password" th:field="*{password}" class="form-control"
                                       placeholder="Password" required>
                            </div>
                            <div class="form-group">
                                <input type="email" th:field="*{email}" class="form-control" placeholder="Email"
                                       required>
                            </div>

                            <button type="submit" value="Submit" class="btn btn-dark">Submit</button>
                        </form>
                    </div>

            </div>
        </div>
    </div>
</section>
</body>
</html>