<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragments/navBar :: navbar" th:remove="tag"></div>
    <meta charset="UTF-8"/>
    <title>New Person</title>

</head>
<body>
<h1 th:text="'New Person th form'">New Person</h1>

<h1>Form new Person</h1>
<!--/*@thymesVar id="person" type="com.debarz.recipeblogapp.domain.Person"*/-->
<form action="#" th:action="@{/person/}" th:object="${person}" method="post">
    <!--/*@thymesVar id="person" type="com.debarz.recipeblogapp.domain.Person"*/-->
    <input type="hidden" th:field="*{id}"/>
    <p>Name: <input type="text" th:field="*{name}" /></p>
    <p>Last Name: <input type="text" th:field="*{lastName}" /></p>
    <p>Email: <input type="text" th:field="*{email}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>