<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/bootstrapLayout :: bootstrap" th:remove="tag"></div>

    <title>Show User</title>
</head>
<body>
<h1 th:text = "'Show Person Form th'"></h1>
<h1>Result</h1>
<!--/*@thymesVar id="person" type="com.debarz.recipeblogapp.domain.Person"*/-->
<p th:text="'id: ' + ${person.id}"></p>
<p th:text="'content: ' + ${person.name}"></p>
<p th:text="'content: ' + ${person.lastName}"></p>
<p th:text="'content: ' + ${person.email}"></p>

<div class="col-md-6">
    <img src="../../static/images/avatar.jpg"
         th:src="@{'/person/' + ${person.id} + '/personImage'}"
         width="200" height="200">
</div>
<div class="col-md-1">
    <a class="btn btn-default" href="#"
       th:href="@{'/person/' + ${person.id} + '/image'}" role="button">Change Image</a>
</div>

<a href="/person/new">Submit another message</a>
</body>
</html>