<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/bootstrapLayout :: bootstrap" th:remove="tag"></div>

    <title>Show User</title>
</head>
<body>
<h1 th:text = "'Show Person Form th'"></h1>
<h1>Result</h1>
<!--/*@thymesVar id="person" type="com.debarz.recipeblogapp.domain.User"*/-->
<p th:text="'id: ' + ${user.id}"></p>
<p th:text="'content: ' + ${user.username}"></p>
<p th:text="'content: ' + ${user.lastName}"></p>
<p th:text="'content: ' + ${user.email}"></p>

<div class="col-md-6">
    <img src="../images/avatar"
         th:src="@{'/user/' + ${user.id} + '/userImage'}"
         width="200" height="200">
</div>
<div class="col-md-1">
    <a class="btn btn-default" href="#"
       th:href="@{'/user/' + ${user.id} + '/image'}" role="button">Change Image</a>
</div>

<a href="/person/new">Submit another message</a>
</body>
</html>