
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,500i,600,700,700i,800');
body{
	
	background-image: linear-gradient(to right, #f7de1c,#64638f,#0c907d);
margin:0;
padding:0;
overflow-x: hidden;
font-family: 'Raleway', sans-serif;
}

a:link{text-decoration: none;}
h1{
	text-align: center;
	color: #fff;
	padding-top: 30px;
	padding-bottom: 20px;
}
.avatar{
	width: 200px;
	height: 200px;
	border-radius: 100px;
}
section{
	margin-top: 10%;
}
#mano_menu li{
	display: inline;
}
h2{
	
	font-size: 40px;
	padding-bottom: 20px;
	letter-spacing: 1px;
}
form{
	
	
	display: block;
	text-align: center;
	margin: 10px auto;
	padding-top: 30px;
	padding-bottom: 30px;
	border-radius: 4px;
	background-image: linear-gradient(to right, #9fe8fa,#26baee);
	
}
.btn-dark{
	width: 80%;
	font-size: 18px;
}
.form-check{
	text-align: center !important;
	padding: 10px;
}
#sign .form1{
	width:60%;
	border:2px solid black;
	display: block;
	text-align: center;
	margin: 70px auto;
	padding: 50px;
	
}
.form-control::placeholder{
	padding-left: 10px;
}
.form-control{
	outline:none;
	border:none;
	margin:0 auto;
	width:80%;
	border-bottom: 1px solid #fff;
	border-radius: 40px;
	height: 40px;
}
.form-control:focus{
	border:none;
	
	box-shadow: none;
	border: 1px solid #000;
}
.form-control:hover{
	text-decoration: none;
	border:none;
	
	box-shadow: none;
	border: 1px solid #000;

	
}
.form-check{
text-align: left;
font-size:20px;
}
.table1 {
	margin: 0 auto;
	width: 80%;
	text-align: center;
}
.btn-con{
	align-items: center;
}
.con{
	text-align: center;
}
@media(max-width: 768px){
	#sign{
		margin-top: 50px;
		margin-bottom: 50px;
	}
}
@media(max-width: 424px){
	h1{
		font-size: 30px;
	}
}

.chris{
	color: #fff;
	position: relative;
	margin-top: 15px;
	text-align: center;
	letter-spacing: 0.2em;
	font-size: 4em;
	font-family: 'Mountains of Christmas';
	text-shadow: 0px 0px 8px rgba(255,65,185,1);
}

#wire{
	text-align: center;
	white-space: nowrap;
	position: absolute;
	padding: 0;
	width: 100%;
	top: 50px;
	border-bottom: 3px solid #222;
	height: 100px;
}

#wire li {
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
	display: block;
	width: 15px;
	height: 30px;
	border-radius: 50%;
	margin: 0px 15px;
	top: 102px;
	display: inline-block;
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-iteration-count:infinite;
	animation-name: even-flash;
}

#wire li:nth-child(odd){
	animation-name: odd-flash;
}

#wire li:before {
	content: "";
	position: absolute;
	width: 14px;
	height: 10px;
	border-radius: 4px;
	top: -5px;
	left: 0px;
	background: #444;
}

@keyframes even-flash {
	0%, 100% {
		background: rgba(255,230,65,1);
		box-shadow: 0px 2px 20px 4px rgba(255,230,65,1);
	}
	50% {
		background: rgba(255,230,65,0.5);
		box-shadow: 0px 2px 20px 4px rgba(255,230,65,0.3);
	}
}

@keyframes odd-flash {
	50% {
		background: rgba(255,65,185,1);
		box-shadow: 0px 2px 20px 4px rgba(255,65,185,1);
	}
	0%,100% {
		background: rgba(255,65,185,0.5);
		box-shadow: 0px 2px 20px 4px rgba(255,65,185,0.3);
	}
}