<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <div th:replace="fragments/bootstrapLayout :: bootstrap" th:remove="tag"></div>

    <meta charset="UTF-8">
    <title>Main Blog Page</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">

</head>
<body>
<div th:include="fragments/navBar :: navbar" th:remove="tag"></div>
<h2 class="chris">Merry Christmas!</h2>
<div class="container-fluid float-right p-b-5 btn-con" >
    <div class="row">
        <a class="btn btn-secondary btn-lg active" href="#" th:href="@{'/post/new'}" role="button" aria-pressed="true">Add a new post</a>
    </div>
</div>
        <div class="container-fluid con">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="panel panel-primary">

                        <div class="panel-heading">
                            <h1 class="panel-title">Recipe Articles</h1>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive" th:if="${not #lists.isEmpty(posts)}">
                                <table class="table table-hover table1">
                                    <thead class="thead-inverse">
                                    <tr>
                                        <th>ID</th>
                                        <th>Title</th>
                                        <th>View</th>
                                        <th>Update</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>
                                    <tr th:remove="all">
                                        <td>123</td>
                                        <td>Tasty Goodnees 1</td>
                                        <td><a href="#">View</a></td>
                                        <td><a href="#">Update</a></td>
                                        <td><a href="#">Delete</a></td>
                                    </tr>
                                    <tr th:remove="all">
                                        <td>12333</td>
                                        <td>Tasty Goodnees 2</td>
                                        <td><a href="#">View</a></td>
                                        <td><a href="#">Update</a></td>
                                        <td><a href="#">Delete</a></td>
                                    </tr>
                                    <tr th:each="post : ${posts}">
                                        <td th:text="${post.id}">334</td>
                                        <td th:text="${post.title}">Tasty Goodnees 3</td>
                                        <td><a href="#" th:href="@{'/post/' + ${post.id} + '/show'}">View</a></td>
                                        <td><a href="#" th:href="@{'/post/' + ${post.id} + '/update'}">Update</a></td>
                                        <td><a href="#" th:href="@{'/post/' + ${post.id} + '/delete'}">Delete</a></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</body>
</html>